<!-- <div class="flex-container">
  <div *ngIf="cartList.length>0; else loggedOut" class="card">
    <div class="card" fxLayout="row" *ngFor="let element of cartList;let i = index">
      {{element.item.name | json}}<br>{{element.item.category}}<br>
      <mat-label>Quantity</mat-label>
      <mat-form-field *ngIf="element.isEditable; else editable">
        <mat-select [(ngModel)]="element.available">
          <mat-option *ngFor="let quantity of fetchQuantity(i)" [value]="quantity">
            {{quantity}}
          </mat-option>
        </mat-select>
        <button mat-button (click)="onEditSubmit(i)">
          <mat-icon>done_outline</mat-icon>
        </button>
      </mat-form-field>
      <ng-template #editable>
        <div>{{element.item.selectedQuantity}}
          <button mat-button (click)="onEdit(i)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </ng-template>
      <button mat-button (click)="removeFromCart(i)">
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>
    </div>
  </div>


  <button fxLayout="row" fxLayoutAlign="end" mat-button (click)="onHomeButtonClick()">
    <mat-icon>home</mat-icon>
  </button>
</div> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length > 0">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.item.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.item.category}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element; let i = index">


      <mat-form-field *ngIf="element.isEditable; else nonEditable">
        <mat-select [(ngModel)]="element.quantity">
          <mat-option *ngFor="let quantity of fetchQuantity(i)" [value]="quantity">
            {{quantity}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #nonEditable>{{element.quantity}} </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-button *ngIf="element.isEditable; else nonEditable" (click)="onEditSubmit(i)">
        <mat-icon>done_outline</mat-icon>
      </button>
      <ng-template #nonEditable>
        <button mat-button (click)="onEdit(i)">
          <mat-icon>edit</mat-icon>
        </button>
      </ng-template>

      <button mat-button (click)="removeFromCart(i)">
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="dataSource.length === 0">
  <h1>No data</h1>
</div>

<button fxLayout="row" fxLayoutAlign="end" mat-button (click)="onHomeButtonClick()">
  <mat-icon>home</mat-icon>
</button>